# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

remove_bg.py
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json1
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

test_supabase.js
supabase_setup.sql
import_auth.js
students.csv
students_credentials_export.csv
exam_setup.sql

# Environment variables
.env
.env.*
!.env.example